name: portfolio
description: "Portfolio"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  floating_navbar: ^3.0.0
  url_launcher: ^6.1.12

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  mocktail: ^1.0.0
  integration_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/MainPhoto.png
    - assets/images/About.png
    - assets/images/Skills.png
    - assets/images/Projects.png
    - assets/images/linkedinIcon.png
    - assets/images/githubIcon_black.png
    - assets/images/githubIcon_white.png
    - assets/images/gmailIcon.png
    - assets/images/calculator.png
    - assets/images/bowlingVR.png
    - assets/images/chatgptGame.png



  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
